@import "tailwindcss";



main {
  display: block;
  width: 100%;
  min-height: calc(100vh - 64px); /* Keeps content stretched below navbar */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
